name: All tests on master commits

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install pytest
        run: pip install pytest

      - name: Add src to PYTHONPATH
        run: echo "PYTHONPATH=src" >> $GITHUB_ENV


      - name: Run all tests
        run: pytest -q
